.button {
  width: 130px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  transition: all 500ms ease-in;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    outline: none;
    cursor: pointer;
  }
}
