<header class="container header">
  <section class="header-section">
    <a class="header-logo" href="./index.html"
      ><img src="./images/film.svg" alt="" /><span class="header-logo__text"
        >Filmoteka</span
      ></a
    >

    <div class="header-nav">
      <a class="header-nav__link current-link" href="./index.html">Home</a>
      <a class="header-nav__link" href="./library.html">My Library</a>
    </div>
  </section>
  <form class="header-form" autocomplete="off">
    <input
      class="header-form__input"
      name="search"
      type="text"
      placeholder="Movie search"
    />
    <button class="header-form__btn" type="submit">
      <img src="./images/search-icon.svg" alt="" width="12" />
    </button>
  </form>
</header>
