.hero {
  padding-top: 20px;
  padding-bottom: 40px;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__item {
    flex-basis: 100%;
  }
}

.gallery-thumb {
  margin-bottom: 8px;
}

.movie-info__name {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
}

.movie-info__about {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: var(--accent-color);
}

.movie-info__rate {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .gallery-list {
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 704px;

    &__item {
      flex-basis: calc((100% - 32px * 1) / 2);
    }
  }
}

@media screen and (min-width: 1280px) {
  .gallery-list {
    gap: 16px;
    max-width: 1216px;

    &__item {
      flex-basis: calc((100% - 16px * 2) / 3);
    }
  }

  .movie-info__name {
    font-size: 20px;
    line-height: calc(24 / 20);
  }

  .movie-info__about {
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--accent-color);
  }

  .movie-info__rate {
    width: 40px;
    height: 20px;
  }
}
