.header-library {
  padding-top: 40px;
  background-image: url('/src/images/background-library-mb.jpg');
}

.menu-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

// .active {
//   @extend .button;
//   background-color: var(--accent-color);
//   border: none;
// }

@media screen and (min-width: 768px) {
  .header-library {
    background-image: url('/src/images/background-library-tb.jpg');
  }

  .button {
    width: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .header-library {
    background-image: url('/src/images/background-library-desk.jpg');
  }

  .button {
    width: 148px;
  }
}
